<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lostarkcardstatus">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/loading"
        android:label="LOA 카드 매니저"
        android:largeHeap="true"
        android:roundIcon="@drawable/loading"
        android:supportsRtl="true"
        android:theme="@style/Theme.LostArkCardStatus">
        <activity
            android:name=".LoadingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CardSetPage"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".CardBookPage"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".DemonExtraDmgPage"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SettingCard"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".Test"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MainPage"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SettingCard"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>