<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ulmu.lostarkcardmanager">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/lost_ark_icon_1"
        android:label="LOA 카드 매니저"
        android:largeHeap="true"
        android:roundIcon="@drawable/lost_ark_icon_1"
        android:supportsRtl="true"
        android:theme="@style/Theme.LostArkCardStatus">
        <activity
            android:name="com.ulmu.lostarkcardmanager.LoadingActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ulmu.lostarkcardmanager.CardSetPage"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ulmu.lostarkcardmanager.CardBookPage"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ulmu.lostarkcardmanager.DemonExtraDmgPage"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ulmu.lostarkcardmanager.SettingCard"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ulmu.lostarkcardmanager.MainPage"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.ulmu.lostarkcardmanager.GuidePage"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MainPage"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ExtraDmgPage"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>